100% Commitment to Safety and Security

https://www.paperlesspipeline.com/#pricing

Utilizing 256-bit SSL encryption by GeoTrust and the world-class server infrastructure of Amazon Web Services (AWS), #{data.settings.brand} ensures the absolute privacy of our users' data. #{data.settings.brand} incorporates the most advanced security solutions, giving you the same level of data protection and redundancy as an online bank.

Access Anywhere

#{data.settings.brand} is always available for you to access no matter where you are in the world via all modern web browsers (Internet Explorer, Firefox, Safari, Chrome, etc). In addition, you can download all the files and data from your account every month using a secure link created just for you.

Offline backups can be saved on your local computers or servers and used as an alternate way to store and access your transaction data.
Online
Security
Your login connection with #{data.settings.brand} is secure and encrypted using industry-leading SSL technology. The information stored in Amazon.com's data centers is accessible only by SSL encrypted endpoints - meaning your data can't be viewed while being sent from your computer to Amazon's secure facilities.

Your data in #{data.settings.brand} is safer and more secure than with most online applications and is even safer than traditional offline storage.
Multiple
Backups
#{data.settings.brand} stores user data in Amazon.com's highly reliable data centers. Every document uploaded and every word typed into #{data.settings.brand} is automatically copied to multiple backup locations using the Amazon S3 cloud storage service.

Amazon S3 provides a highly durable storage infrastructure designed for mission-critical and primary data storage. The service redundantly stores data in multiple facilities and on multiple devices within each facility.
